*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(238, 177, 85, 0.596);
    padding: 1rem;
    width: 100%;
  
}

header ul {
    list-style-type: none;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}

div {
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
div img{
   
width: 50%;

}


@media screen and (min-width:992) {
    img{
        content: url("https://picsum.photos/id/1040/600/400");
    }
    
}

@media (max-width:992px)  {
    body{
        background-color: rgba(74, 196, 196, 0.856);
    }
          
    img{
      
     content: url("https://picsum.photos/id/431/600/400");
    
}
}
@media (max-width:767px) {

body{
    background-color:rgba(145, 62, 145, 0.767) ;
}

img{
    content: url("https://picsum.photos/id/174/600/400");
  
  height: 40rem;
}

header ul {
    flex-direction: column;
    align-items: center;
  
   
}
}

@media (max-width:600px){
    body{
        background-color: rgb(130, 190, 130);
        
    }
    img{
        min-width: 250px;
        content:  url("https://picsum.photos/id/250/600/400");
    }


}