*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(238, 177, 85, 0.596);
    padding: 1rem;
  
}

header ul {
    list-style-type: none;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;z
    font-size: 1.2rem;
    font-weight: 500;
}

div {
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

div img{
    width: 50%;
}

@media (max-width:992px) {
    body{
        background-color: rgba(74, 196, 196, 0.856);
    }
   
        
    img{
       s src:"https://picsum.photos/id/30/600/400";
    
}

@media (max-width:992px) {


}